body {
  background-image: url(bg.jpg);
}

.toplevel {
  background-color: #000;
  font-family: Algerian;
  color: white;
  border-radius: 20px;
}

.toplevel h1 {
  padding: 15px;
  display: inline-block;
}

.toplevel img {
  display: inline-block;
  width: 4%;
  padding: 2px;
  background-color: #c0c0c0;
  float: right;
  margin: 1%;
}

.toplevel img:hover {
  padding: 10px;
}

.container-1 {
  background-color: rgba(12, 69, 66, 0.8);
  color: #c0c0c0;
  font-size: 1.5pc;
  font-family: "Brush Script MT", cursive;
}

.container-1:hover {
  background-color: rgb(12, 69, 66);
}

table {
  border-spacing: 20px;
}

td {
  border-radius: 10px;
  font-family: Berlin Sans FB;
  font-size: 3pc;
  background-color: rgba(255, 153, 0, 0.5);
  color: white;
}

td:hover {
  background-color: rgb(255, 153, 0)
}

#tit {
  font-size: 3.2pc;
  color: white;
}


#myself {
  width: 25%;
  border-radius: 10%;
  padding: 15px;
  background-color: blue;
  margin-right: 5%;
}
